// Required
@import "../../node_modules/bootstrap/scss/functions";

$amethyst: #9B5DE5;
$tangerine: #F8924F;
$yellow: #FEDD0B;
$capri: #00BBF9;
$inputGrey: #D9D9D9;

// Default variable overrides
$body-bg: $amethyst;
$body-color: #fff;

$primary: $tangerine;
$secondary: $tangerine;
$success: $yellow;
$info: $capri;

@font-face {
	font-family: generalSans;
	src: url(fonts/OTF/GeneralSans-Regular.otf);
}

@font-face {
	font-family: righteous;
	src: url(fonts/Righteous-Regular.ttf);
}

body {

	font-family: generalSans;
}

p {
	font-size: 5.5vw;
	@media (min-width: 1200px) { 
		font-size: 2.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 1.5vw;
	}
	font-weight: 800;
}

h2 {
	color: $yellow;
	font-family: righteous;
	margin-bottom: 0;
	font-size: 8.25vw;
	@media (min-width: 1200px) { 
		font-size: 4.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 3.5vw;
	}
}

h3 {
	color: white;
	font-family: righteous;
	font-size: 7.5vw;
	@media (min-width: 1200px) { 
		font-size: 3.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 2.5vw;
	}
}

// https://stackoverflow.com/a/68240841
input:-webkit-autofill, input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

input.form-control {
	border-radius: 0px!important;
	background-color: $amethyst;
	border-color: $amethyst;
	color: white;
	font-family: generalSans;
	font-weight: 600;
	&:focus {
		color: white;
		box-shadow: none;
		background-color: $amethyst;
	}
	&::placeholder {
		color: $inputGrey;
		font-family: generalSans;
		font-weight: 600;
	}
	&.is-invalid {
		border-color: $yellow;
		background-image: none; // Don't use image I can't re-color
		padding: 0.375rem 0.75rem;
		&:focus {
			box-shadow: none;
			border-color: $yellow;
		}
	}
}

a {
	text-decoration: none;
	color: white;
	font-weight: 800;
	overflow: auto;
	white-space: nowrap;
	font-size: 4vw;
	@media (min-width: 1200px) { 
		font-size: 2.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 1.5vw;
	}
	&:hover {
		color: $tangerine;
	}
	&:active {
		color: $tangerine!important;
	}
}


.btn-link {
	text-decoration: none;
	color: white;
	font-weight: 800;
	font-family: generalSans!important;
	@media (min-width: 1200px) { 
		font-size: 2.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 1.5vw;
	}
	&:hover {
		color: $tangerine;
	}
	&:active {
		color: $tangerine!important;
	}
}

.removePlayerLink {
	overflow: hidden;
	white-space: normal;
	font-size: 3vw!important;
	height: fit-content;
	@media (min-width: 800px) {
		font-size: 2vw!important;
	}
	@media (min-width: 1200px) { 
		font-size: 1.5vw!important;
	}
	@media (min-width: 1400px) {
		font-size: 1.2vw!important;
	}
	&::-webkit-scrollbar {
	  display: none;
	}
}

.inlineLink {
	font-size: inherit;
	color: $yellow;
}

.spacer {
	padding: 2rem 0;
	p {
		overflow: hidden;
		white-space: nowrap;
		font-size: 4.5vw;
		@media (min-width: 1200px) { 
			font-size: 2.5vw;
		}
		@media (min-width: 1400px) {
			font-size: 1.5vw;
		}
	}
}


.btn {
	font-family: righteous;
	font-size: 5.5vw;
	@media (min-width: 1200px) { 
		font-size: 2.5vw;
	}
	@media (min-width: 1400px) {
		font-size: 1.5vw;
	}
	overflow: auto;
	white-space: nowrap;
}

.btn-primary {
	margin-top: 1rem;
	background-color: $tangerine;
	border-color: $tangerine;
	border-radius: 0;
	color: white;
	&:hover {
		background-color: $capri;
		border-color: $capri;
	}
	&:active {
		background-color: $capri!important;
		border-color: $capri!important;
	}
}

.container {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.center {
	display: flex;
	align-items: center;
}

.content-end {
	justify-content: end;
	padding-right: 0;
}

.gameForm {
	background-color: $capri;
}

.invalid-feedback {
	color: $yellow;
}

@keyframes animate {
    0% {
        content: "😌";
    }

    33% {
        content: "🧠";
    }

    66% {
        content: "🫶";
    }
}

.moj::before {
    content: "😌";
    animation: animate infinite 3s;
}

.fran {
	background-color: $capri;
}

.playNav {
	@media (min-width: 1200px) { 
		justify-content: end;
	}
}

.navText {
	@media (min-width: 1200px) { 
		justify-content: center;
		text-align: center;
	}	
}

.imageLink {
	line-height: 0;
	img {
		width: 1.5rem;
	}
}


// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";